{
    "root": true,
    "plugins": [
      "prettier",
      "@typescript-eslint"
    ],
    "extends": [
      "eslint:recommended",
      "prettier"
    ],
    "rules": {
      "prettier/prettier": 
      [
        "error",
        {
            "parser": "typescript"
        }
      ],
      "no-use-before-define": ["error", { "functions": true, "classes": true }],
      "prefer-const": "error",
      "arrow-body-style": "off",
      "prefer-arrow-callback": "off"
    },
    "parserOptions": {
      "ecmaVersion": 2017,
      "sourceType": "module",
      "parser": "@typescript-eslint/parser"
    },
    "env": {
      "node": true,
      "es6": true
    }
}